<li class="nav-dropdown-container learn">
  <a class="nav-link<%- page.path.match(/\/(guide(?!\/team.html$)|elements|style-guide|examples)(\/|$)/) ? ' current' : '' %>">Learn</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="<%- url_for("/v1/guide/") %>" class="nav-link<%- page.path.match(/\/guide(\/|$)/) ? ' current' : '' %>">Guide</a></li>
      <li><a href="<%- url_for("/v1/elements/") %>" class="nav-link<%- page.path.match(/\/elements(\/|$)/) ? ' current' : '' %>">Elements</a></li>
      <li><a href="<%- url_for("/v1/style-guide/") %>" class="nav-link<%- page.path.match(/\/style-guide(\/|$)/) ? ' current' : '' %>">Style Guide</a></li>
      <li><a href="<%- url_for("/v1/examples/") %>" class="nav-link<%- page.path.match(/\/examples(\/|$)/) ? ' current' : '' %>">Examples</a></li>
    </ul></li>
  </ul>
</li>
