<div class="sidebar">
  <div class="sidebar-inner">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
    <div class="list">
      <%- partial('partials/sponsors_sidebar') %>
      <% if (type !== 'search') { %>
        <h2>
          <% titles = {
            elements: 'Elements<sup class="beta">beta</sup>',
            examples: 'Examples<sup class="beta">beta</sup>',
            guide: 'Guide<sup class="beta">beta</sup>',
            'style-guide': 'Style Guide<sup class="beta">beta</sup>'
          } %>
          <%- titles[type] %>
          <% if (['style-guide'].indexOf(type) === -1) { %>
            <select class="version-select">
              <option value="SELF" selected>1.x</option>
            </select>
          <% } %>
        </h2>
        <%- partial('partials/toc', { type: type }) %>
      <% } %>
    </div>
  </div>
</div>

<%- /*partial('partials/platinum_sponsors', { context: 'right' })*/ %>
